@keyframes grow-and-show {
  from {
    transform: scale(0.85);
    opacity: 0;
  }

  to {
    transform: scale(1.0);
    opacity: 1;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}