@use "./variables";

.footer {
  bottom: 10px;
  color: variables.$color-light-cyan;
  font-size: 0.875rem;
  position: absolute;
  text-align: center;

  &__link {
    color: variables.$color-neon-green;
  }
}